<form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
  <p class="font-weight-bold">{{titleForm}} Employee Details</p>
  <div class="form-group">
    <label for="names">Name</label>
    <select class="custom-select" id="names" formControlName="name">
      <option   default value="">Choose...</option>
      <ng-container *ngFor="let employee of employeeName" >
        <option value="{{employee.name}}">{{employee.name}}</option>
      </ng-container>  
    </select>
  </div>

  <div class="form-group">
    <label for="score">Score</label>
    <input type="text" class="form-control" id="score" formControlName="score" placeholder="Score">
  </div>

  <div class="form-group">
    <label for="weight">Weight</label>
    <input type="text" class="form-control" id="weight" formControlName="weight" placeholder="Weight">
  </div>

  <div class="form-group">
    <label for="date">Date</label>
    <input type="date" class="form-control" id="date" formControlName="date" placeholder="Date">
  </div>

  <button type="submit" class="btn btn-primary float-right"  data-dismiss="modal" >{{buttonForm}}</button>
  <button class="btn btn-secondary float-right mr-2" type="reset" (click)="onReset()" data-dismiss="modal">Cancel</button>
</form>

