.form-group {
    select {
        background: #e8dede14;
        color: white;
        font-size: 14px;
        width: 300px;
    }
}
.table-container {
    overflow-y: auto;
    height: 1090px;
    margin-bottom: 17px;
    table {
        color: white;
        background: #ffffff26;
        margin-bottom: 0;
        th {
            color: #FFC107;
            font-size: 18px;
        }
    }
}
.modal-header {
	border-bottom: transparent;
	padding: 12px 15px 0px 0px;
}
h2 {
    color: floralwhite;
    text-align: center;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #FFC107;
    background-color: #b0c1b442;
}
.nav-item {
    a {
        color: white;
    }
}