.form-group {
    select {
        background: #e8dede14;
        color: white;
        font-size: 14px;
        width: 260px;
    }
}
.table-container {
    overflow-y: auto;
    height: 1138px;
    table {
        color: white;
        background: #ffffff26;
    }
}
.modal-header {
	border-bottom: transparent;
	padding: 12px 15px 0px 0px;
}
h2 {
    color: floralwhite;
    text-align: center;
}