
.table-container {
    overflow-y: auto;
    height: 745px;
    table {
        color: white;
        background: #ffffff26;
    }
}
.modal-header {
	border-bottom: transparent;
	padding: 12px 15px 0px 0px;
}